<%- include("partials/header"); %>

<h1>ABOUT THE BLOG</h1>

<p>Daily journal is an expansion of the blog tutorial by <a href="https://www.appbrewery.co/" target="_blank" rel="noopener noreferrer">App Brewery</a>.</p>
  <p>It's a multi-user blog service that allows you to compose and delete your posts freely and safely.</p>

  <div class="about-me content ">
    <h2>ABOUT ME</h2>
    <p>I'm Piotr Krajewski, a Front End Developer and QA Engineer based in Athens Greece.</p>
    <p>You can find more of my work on <a href="https:futurepage" target="_blank" rel="noopener noreferrer">my personal website</a>.</p>
    <p>Contact me by:</p>
    
        <div class="contact-page">
            <p class="contact-link">
                <img class="icon" src="public/images/linkedin.png"/><a class="content" href="https://www.linkedin.com/in/piotr-krajewski-1b709ab1/" target="_blank" rel="noopener noreferrer">Linkedin</a>
            </p>
            <p class="contact-link">
                <img class="icon" src="public/images/email (3).png"/><a class="content" href="mailto: piotrk39@gmail.com" target="_blank" rel="noopener noreferrer">Email</a>
            </p>
            <p class="contact-link">
                <img class="icon" src="public/images/github (1).png"/><a class="content" href="https://github.com/piotrk39" target="_blank" rel="noopener noreferrer">Github</a>
            </p>
        </div>
  </div>

<%- include("partials/footer"); %>