<%- include("partials/header"); %>


<div class="auth-form">
  <h1>Login</h1>
  <p>Please login or sign up to see the content of the application</p>
  <div>
    <div class="card-body auth-button">
      <a class="btn-social" href="/auth/google" role="button">
        Sign Up with Google
      </a>
    </div>
    <div class="or">
      <span>or</span>
    </div>
    <div class="card-body auth-button">
      <a class="btn-social" href="/auth/google" role="button">
        Login with Google
      </a>
    </div>
  </div>
</div>

<%- include("partials/footer"); %>